<html>
    <head>
        <meta charset="utf-8"/>
        <title>BKND_SRPAGO</title>
        <style type="text/css">
        	body{
        		background-color: #00BF6F;
        	}
        </style>
    </head>
    <body>
        <img src="./logo_srpago.png">
    </body>
</html>
