<div *ngIf="spinnerSvc.loading"  class="no-freeze-spinner">
  <!--img src="https://images.pexels.com/photos/606542/pexels-photo-606542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" /-->
  <div id="no-freeze-spinner">
    <div>
    <i class="fa fa-map-marker text-center"></i>
    <i class="fa fa-money text-center"></i>
    <i class="fa fa-map-signs text-center"></i>
    <i class="fa fa-map text-center"></i>
      <div>
      </div>
    </div>
  </div>
</div>