
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">MAPA</li>
        </ul>
    </div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<form id="frmBsq" name="frmBsq" #frmBsq="ngForm" (submit)="realizaBsq()">
				<div class="row">
					<div class="col-sm-12 form-group">
						<label><span class="text-danger mr-3"><i class="fa fa-asterisk"></i></span>Estado</label>
						<p-dropdown  [style]="{'width':'95%', 'border':'1px solid black'}"
							id="state" name="state" #state="ngModel" [(ngModel)]="mdlBsq.state" 
							[options]="lstStates" placeholder="-- Seleccione estado --" emptyFilterMessage="No hay resultados"
							[filter]="true"
							required
							(onChange)="chgState()"
						>
						</p-dropdown>
						<div *ngIf="(state.dirty || state.touched) && state.invalid && state.errors?.required" class="text-danger">
		                    <small>Campo requerido</small>
		                </div>
					</div>
				</div>
				<div *ngIf="mdlBsq.state" class="row">
					<div class="col-sm-12 form-group">
						<label><span class="text-danger mr-3"><i class="fa fa-asterisk"></i></span>Municipio</label>
						<p-dropdown  [style]="{'width':'95%', 'border':'1px solid black'}"
							id="state" name="mcpio" #mcpio="ngModel" [(ngModel)]="mdlBsq.mcpio" 
							[options]="lstMcipios" placeholder="-- Seleccione municipio --" emptyFilterMessage="No hay resultados"
							[filter]="true"
							required
						>
						</p-dropdown>
						<div *ngIf="(mcpio.dirty || mcpio.touched) && mcpio.invalid && mcpio.errors?.required" class="text-danger">
		                    <small>Campo requerido</small>
		                </div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								Ordenamiento
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-sm-12 form-group">
										<div class="custom-control custom-radio custom-control-inline">
											<input class="custom-control-input" type="radio" id="menor" [value]="1"
												name="ordenamiento" #ordenamiento="ngModel" [(ngModel)]="mdlBsq.ordenamiento"
											>
											<label class="custom-control-label" for="menor">De menor a mayor precio</label>
										</div><br>
										<div class="custom-control custom-radio custom-control-inline">
											<input class="custom-control-input" type="radio"  id="mayor" [value]="2"
												name="ordenamiento" #ordenamiento="ngModel" [(ngModel)]="mdlBsq.ordenamiento"
											>
											<label class="custom-control-label" for="mayor">De mayor a menor precio</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<label>En base a que gasolina</label><br>
										<div class="custom-control custom-radio  custom-control-inline">
											<input class="custom-control-input" type="radio" id="premium" value="premium"
												name="tipo_gasolina" #tipo_gasolina="ngModel" [(ngModel)]="mdlBsq.tipo_gasolina"
											>
											<label class="custom-control-label" for="premium">Premium</label>
										</div><br>
										<div class="custom-control custom-radio  custom-control-inline">
											<input class="custom-control-input" type="radio"  id="regular" value="regular"
												name="tipo_gasolina" #tipo_gasolina="ngModel" [(ngModel)]="mdlBsq.tipo_gasolina"
											>
											<label class="custom-control-label" for="regular">Regular</label>
										</div>
										<div class="custom-control custom-radio  custom-control-inline">
											<input class="custom-control-input" type="radio"  id="dieasel" value="dieasel"
												name="tipo_gasolina" #tipo_gasolina="ngModel" [(ngModel)]="mdlBsq.tipo_gasolina"
											>
											<label class="custom-control-label" for="dieasel">Dieasel</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-muted">
						<p>
							<span class="text-danger"><small><i class="fa fa-asterisk"></i> Campo requerido.</small></span><br>
							<span *ngIf="!frmBsq.form.valid">Ingrese todos los campos requeridos</span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-right">
						<button type="submit" class="btn btn-sm btn-success " [disabled]="!frmBsq.form.valid">
							<i class="fa fa-search"></i>
							Buscar
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<p-gmap 
						[overlays]="puntos_obtenidos" 
						[options]="options" 
						[style]="{'width':'100%','height':'320px'}" 
						(onMapReady)="setMap($event)"
					></p-gmap>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p-table 
						#dt class="mt-3" [value]="lstResultados" sortMode="single" 
						[paginator]="true" [rows]="10" styleClass="prime-table"
						[scrollable]="true" [style.width]="'100%'" scrollHeight="300px"
					>
						<ng-template pTemplate="colgroup">
		                    <colgroup>
		                        <col style="width:75px"> 
		                        <col style="width:75px">
		                        <col style="width:75px">
		                        <col style="width:250px">
		                        <col style="width:200px">
		                        <col style="width:250px"> 
		                        <col style="width:200px"> 
		                        <col style="width:200px"> 
		                    </colgroup>
		                </ng-template>
		                <ng-template   pTemplate="header">
		                     <tr>
		                        <th class="txt_tbl_th">Precio Regular</th>
		                        <th class="txt_tbl_th">Precio Premium</th>
		                        <th class="txt_tbl_th">Precio Dieasel</th>
		                        <th class="txt_tbl_th">Razón social /<br> RFC</th>
		                        <th class="txt_tbl_th">Permiso</th>
		                        <th class="txt_tbl_th">Dirección</th>
		                        <th class="txt_tbl_th">Municipio</th>
		                        <th class="txt_tbl_th">Estado</th>
		                    </tr>
		                </ng-template>
		                <ng-template pTemplate="body" let-obj>
		                	<tr>
			                	<td class="txt_tbl_td">{{obj.regular | currency}}</td>
			                	<td class="txt_tbl_td">{{obj.premium | currency}}</td>
			                	<td class="txt_tbl_td">{{obj.dieasel | currency}}</td>
			                	<td class="txt_tbl_td">{{obj.razonsocial}}<br><small><strong>{{obj.rfc}}</strong></small></td>
			                	<td class="txt_tbl_td">{{obj.numeropermiso}}</td>
			                	<td class="txt_tbl_td">{{obj.calle}}</td>
			                	<td class="txt_tbl_td">{{mdlBsq.mcpio}}</td>
			                	<td class="txt_tbl_td">{{mdlBsq.state}}</td>
			                	
			                </tr>
		                </ng-template>
		            </p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog 
	header="Importar información..."  
	modal="true" styleClass="p-dialog" [(visible)]="banWnImport" [closeOnEscape]="false" [closable]="false" [style]="{width: '50vw', height: '90vw'}" [draggable]="false" [resizable]="false">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<p class="text-muted">
					No existe información sobre los precios de gasolina o hay una diferencia de registros en el sistema, es necesario que de click en el botón &lt;IMPORTAR INFO&gt;
				</p>
				<p class="text-muted">Se realizará la conexión al servicio <a target="_blank" href="https://api.datos.gob.mx/v1/precio.gasolina.publico">precio de gasolina</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<button class="btn btn-lg btn-outline-success text-center"  
					[disabled]="banImportWorking"
					(click)="startImport()"
				>
					<i class="fa fa-2x fa-wrench"></i><br>
					Importar info
				</button>
			</div>
			<div *ngIf="banImportWorking" class="col-sm-6">
				<p-progressBar [value]="valComplete"></p-progressBar>
			</div>
		</div>
	</div>
</p-dialog>
<!-- 
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
 -->


<div class="modal fade" id="wnMsgInfo" tabindex="-1" role="dialog" aria-labelledby="wnMsgInfoTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" ><i class="fa fa-info-circle fa-3x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-justify">
                <div id="msgInfo_html">{{msgInfoUsr}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>